@model OnPointSport.Core.Models.ExchangeRate
@{
    ViewBag.Title = "CreateExchangeRate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #row {
        padding-left: 100px;
        padding-top: 10px;
    }

    #row label {
        padding-top: 10px;
    }

    .box-primary {
        padding: 0px 20px 20px 20px; /* top right bottom left */
    }

    .box-shadow {
        margin-top: 30px;
    }
</style>

@using (Html.BeginForm("CreateExchangeRate", "ExchangeRates", FormMethod.Post))
{
    <!-- Content Wrapper. Contains page content-->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            ពត៍មានអត្រាប្ដូរប្រាក់
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> ពត៍មានអត្រាប្ដូរប្រាក់</a></li>
            <li class="active">បង្កើតអត្រាប្ដូរប្រាក់</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="box box-primary">
                <div class="box-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <button id="btnSave" type="submit" class="btn btn-info"><i class="fa fa-save"></i> រក្សាទុក </button>&nbsp;
                                <button id="btnCancel" type="button" class="btn btn-danger" onclick="location.href='@Url.Action("ExchangeRatesInformation", "ExchangeRates")'"><i class="fa fa-remove"></i> បោះបង់ </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="DivEmployee" class="box-body box-shadow">
                            <div class="row" id="row">
                                <div class="col-md-2"><label>លេខកូដ:</label></div>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control pull-right", @readonly = "readonly" })
                                </div>
                                <div class="col-md-2">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.Active, new { @checked = "checked" })
                                        <b> សុពលភាព</b>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="row">
                                <div class="col-md-2"><label>ឈ្មោះ:</label></div>
                                <div class="col-md-3">
                                    @Html.ValidationMessageFor(m=>m.Name,"",new { @class="text-danger"})
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control pull-right" })
                                </div>
                            </div>
                            <div class="row" id="row">
                                <div class="col-md-2"><label>ពីចំនួន : ទៅចំនួន</label></div>
                                <div class="col-md-2">
                                    @Html.ValidationMessageFor(m => m.FromAmount, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(m => m.FromAmount, new { @class = "form-control pull-right", type = "number", placeholder = "0" })
                                </div>
                                <div class="col-md-2">
                                    @Html.ValidationMessageFor(m => m.ToAmount, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(m => m.ToAmount, new { @class = "form-control pull-right", type = "number", placeholder = "0" })
                                </div>
                            </div>
                            <div class="row" id="row">
                                <div class="col-md-2"><label>ផ្សេងៗ:</label></div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control pull-right" })
                                </div>
                            </div>

                        </div> <!--box-shadow-->
                    </div>

                </div><!--box-body-->
            </div><!--box-primary-->
        </div> <!--row content-->
    </section>

</div>
}


