
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="@Html.IsSelected(controller: "Dashboard")">
                <a href="@Url.Action("Dashboard", "Dashboard")">
                    <i class="fa fa-dashboard"></i> <span>បញ្ជីក្រុមហ៊ុនតំកល់ប្រតិវេទន៍</span>
                </a>
            </li>

            <!--User Information menu-->
            <li class="treeview @Html.IsSelected(controller: "Users")">
                <a href="@Url.Action("UserInformation", "Users")">
                    <i class="fa fa-edit"></i> <span>ពត៍មានអ្នកប្រើប្រាស់ប្រព័ន្ធ</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "UserInformation")"><a href="@Url.Action("UserInformation", "Users")"><i class="fa fa-circle-o"></i> បញ្ជីអ្នកប្រើប្រាស់ប្រព័ន្ធ</a></li>
                    <li class="@Html.IsSelected(action: "CreateUser")"><a href="@Url.Action("CreateUser","Users")"><i class="fa fa-circle-o"></i> បង្កើតអ្នកប្រើប្រាស់</a></li>

                </ul>
            </li>

            <!--Customer Information menu-->
            <li class="treeview @Html.IsSelected(controller: "Customers")">
                <a href="@Url.Action("CustomersInformation", "Customers")">
                    <i class="fa fa-edit"></i> <span>ពត៍មានអតិថិជន</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "CustomersInformation")"><a href="@Url.Action("CustomersInformation", "Customers")"><i class="fa fa-circle-o"></i> បញ្ជីព័ត៌មានអតិថិជន</a></li>
                    <li class="@Html.IsSelected(action: "CreateCustomer")"><a href="@Url.Action("CreateCustomer","Customers")"><i class="fa fa-circle-o"></i>បង្កើតអតិថជនថ្មី</a></li>

                </ul>
            </li>

            <!--Employee Information menu-->
            <li class="treeview @Html.IsSelected(controller: "Employees")">
                <a href="@Url.Action("EmployeesInformation", "Employees")">
                    <i class="fa fa-edit"></i> <span>ពត៍មានបុគ្គលិក</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "EmployeesInformation")"><a href="@Url.Action("EmployeesInformation", "Employees")"><i class="fa fa-circle-o"></i> បញ្ជីព័ត៌មានបុគ្គលិក</a></li>
                    <li class="@Html.IsSelected(action: "CreateEmployee")"><a href="@Url.Action("CreateEmployee","Employees")"><i class="fa fa-circle-o"></i>បង្កើតបុគ្គលិកថ្មី</a></li>

                </ul>
            </li>

            <!--Categorie Information menu-->
            <li class="treeview @Html.IsSelected(controller: "Categories")">
                <a href="@Url.Action("CategoriesInformation", "Categories")">
                    <i class="fa fa-edit"></i> <span>ពត៍មានប្រភេទទំនិញ</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "CategoriesInformation")"><a href="@Url.Action("CategoriesInformation", "Categories")"><i class="fa fa-circle-o"></i> បញ្ជីប្រភេទទំនិញ</a></li>
                    <li class="@Html.IsSelected(action: "CreateCategory")"><a href="@Url.Action("CreateCategory","Categories")"><i class="fa fa-circle-o"></i>បង្កើតប្រភេទទំនិញ</a></li>

                </ul>
            </li>

            <!--ExchangeRate Information menu-->
            <li class="treeview @Html.IsSelected(controller: "ExchangeRates")">
                <a href="@Url.Action("ExchangeRatesInformation", "ExchangeRates")">
                    <i class="fa fa-edit"></i> <span>ពត៍មានអត្រាប្ដូរប្រាក់</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "ExchangeRatesInformation")"><a href="@Url.Action("ExchangeRatesInformation", "ExchangeRates")"><i class="fa fa-circle-o"></i> បញ្ជីព័ត៌មានអត្រាប្ដូរប្រាក់</a></li>
                    <li class="@Html.IsSelected(action: "CreateExchangeRate")"><a href="@Url.Action("CreateExchangeRate","ExchangeRates")"><i class="fa fa-circle-o"></i>បង្កើតអត្រាប្ដូរប្រាក់</a></li>

                </ul>
            </li>

            <!--ProductService Information menu-->
            <li class="treeview @Html.IsSelected(controller: "ProductServices")">
                <a href="@Url.Action("ProductServicesInformation", "ProductServices")">
                    <i class="fa fa-edit"></i> <span>ពត៍មានផលិតផល</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "ProductServicesInformation")"><a href="@Url.Action("ProductServicesInformation", "ProductServices")"><i class="fa fa-circle-o"></i> បញ្ជីផលិតផល</a></li>
                    <li class="@Html.IsSelected(action: "CreateProductService")"><a href="@Url.Action("CreateProductService","ProductServices")"><i class="fa fa-circle-o"></i>បង្កើតផលិតផល</a></li>

                </ul>
            </li>

            <!--Supplier Information menu-->
            <li class="treeview @Html.IsSelected(controller: "Suppliers")">
                <a href="@Url.Action("SuppliersInformation", "Suppliers")">
                    <i class="fa fa-edit"></i> <span>ពត៍មានអ្នកផ្គត់ផ្គង់</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "SuppliersInformation")"><a href="@Url.Action("SuppliersInformation", "Suppliers")"><i class="fa fa-circle-o"></i> បញ្ជីអ្នកផ្គត់ផ្គង់</a></li>
                    <li class="@Html.IsSelected(action: "CreateSupplier")"><a href="@Url.Action("CreateSupplier","Suppliers")"><i class="fa fa-circle-o"></i>បង្កើតអ្នកផ្គត់ផ្គង់</a></li>

                </ul>
            </li>

            <!--Salarie Information menu-->
            <li class="treeview @Html.IsSelected(controller: "Salaries")">
                <a href="@Url.Action("SalariesInformation", "Salaries")">
                    <i class="fa fa-edit"></i> <span>ពត៍មានប្រាក់ខែ</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "SalariesInformation")"><a href="@Url.Action("SalariesInformation", "Salaries")"><i class="fa fa-circle-o"></i> បញ្ជីព័ត៌មានប្រាក់ខែ</a></li>
                    <li class="@Html.IsSelected(action: "CreateSalary")"><a href="@Url.Action("CreateSalary","Salaries")"><i class="fa fa-circle-o"></i>បង្កើតប្រាក់ខែ</a></li>

                </ul>
            </li>

            <!--StockAdjustment Information menu-->
            <li class="treeview @Html.IsSelected(controller: "StockAdjustments")">
                <a href="@Url.Action("StockAdjustmentsInformation", "StockAdjustments")">
                    <i class="fa fa-edit"></i> <span>ពត៍មានកែប្រែស្ដុក</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "StockAdjustmentsInformation")"><a href="@Url.Action("StockAdjustmentsInformation", "StockAdjustments")"><i class="fa fa-circle-o"></i> បញ្ជីកែប្រែស្ដុក</a></li>
                    <li class="@Html.IsSelected(action: "CreateStockAdjustment")"><a href="@Url.Action("CreateStockAdjustment","StockAdjustments")"><i class="fa fa-circle-o"></i>បង្កើកែប្រែស្ដុក</a></li>

                </ul>
            </li>

            <!--Discount Information menu-->
            <li class="treeview @Html.IsSelected(controller: "Discounts")">
                <a href="@Url.Action("DiscountsInformation", "Discounts")">
                    <i class="fa fa-edit"></i> <span>ពត៍មានការបញ្ចុះតម្លៃ</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "DiscountsInformation")"><a href="@Url.Action("DiscountsInformation", "Discounts")"><i class="fa fa-circle-o"></i> បញ្ជីពត៍មានការបញ្ចុះតម្លៃ</a></li>
                    <li class="@Html.IsSelected(action: "CreateDiscount")"><a href="@Url.Action("CreateDiscount","Discounts")"><i class="fa fa-circle-o"></i>បង្កើតការបញ្ចុះតម្លៃ</a></li>

                </ul>
            </li>

            <!--Booking Information menu-->
            <li class="treeview @Html.IsSelected(controller: "Bookings")">
                <a href="@Url.Action("BookingsInformation", "Bookings")">
                    <i class="fa fa-edit"></i> <span>ពត៍មានការកក់</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "BookingsInformation")"><a href="@Url.Action("BookingsInformation", "Bookings")"><i class="fa fa-circle-o"></i> បញ្ជីពត៍មានការកក់</a></li>
                    <li class="@Html.IsSelected(action: "CreateBooking")"><a href="@Url.Action("CreateBooking","Bookings")"><i class="fa fa-circle-o"></i>បង្កើតការកក់</a></li>

                </ul>
            </li>

            <!--Import Information menu-->
            <li class="treeview @Html.IsSelected(controller: "Imports")">
                <a href="@Url.Action("ImportInformations", "Imports")">
                    <i class="fa fa-edit"></i> <span>ពត៍មានរបាយការណ៍</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "ImportInformations")"><a href="@Url.Action("ImportInformations", "Imports")"><i class="fa fa-circle-o"></i> បញ្ជីពត៍មានរបាយការណ៍</a></li>
                    <li class="@Html.IsSelected(action: "CreateImport")"><a href="@Url.Action("CreateImport","Imports")"><i class="fa fa-circle-o"></i>បង្កើតរបាយការណ៍</a></li>

                </ul>
            </li>

            <!--Sale Information menu-->
            <li class="treeview @Html.IsSelected(controller: "Sales")">
                <a href="@Url.Action("SaleInformations", "Sales")">
                    <i class="fa fa-edit"></i> <span>ពត៍មានការលក់</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(action: "SaleInformations")"><a href="@Url.Action("SaleInformations", "Sales")"><i class="fa fa-circle-o"></i> បញ្ជីពត៍មានការលក់</a></li>
                    <li class="@Html.IsSelected(action: "CreateSale")"><a href="@Url.Action("CreateSale","Sales")"><i class="fa fa-circle-o"></i>បង្កើតការលក់</a></li>

                </ul>
            </li>



        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
